{% extends "base.html" %}

{% block content %}
<div class="flex flex-wrap -mx-2 overflow-hidden md:-mx-1 lg:-mx-1 xl:-mx-2">
    {% for days in bibliotheque %}
        <div class="flex flex-col w-full">
            <div class="flex text-lg text-gray-200 mx-auto border-b-2 border-gray-200">{{ days.date }}</div>
            <div class="flex justify-center">
                {% for chapter in days.mangas %}
                    <div class="my-2 px-2 w-full overflow-hidden md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/3 xl:my-2 xl:px-2 xl:w-1/5">
                        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-gradient-to-t from-gray-800 to-gray-300 dark:from-gray-900 dark:to-gray-700 rounded-lg max-w-xs shadow-lg">
                                <a href="{{ chapter.url }}">
                                <div class="relative pt-10 px-10 flex items-center justify-center">
                                    <img class="relative w-40" src="{{ chapter.mangas.imagepatch }}" alt="">
                                </div>
                                <div class="relative text-white px-6 pb-6 mt-6">
                                <span class="block opacity-75 -mb-1">Chapitre {{ chapter.chapter }}</span>
                                <div class="flex justify-between">
                                    <span class="block font-semibold text-xl">{{ chapter.mangas.name }}</span>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
