{% extends "base.html" %}

{% block content %}
<div class="flex flex-wrap flex-col -mx-2 my-2 overflow-hidden md:-mx-1 lg:-mx-1 xl:-mx-2">

    <div class="flex justify-center my-1.5 dark:text-gray-200">
        <a href="{% url 'babel:detail' chapter.manga_id %}" class="pt-1 pr-4 text-xl">{{chapter.manga_name}}</a>
        <select class="rounded bg-gray-800 text-gray-200 px-2 py-2" autocomplete="off" onchange="document.location.href=this.value">
            {% for i in chapter.index %}
                {% if chapter.chapter == i %}
                    <option selected value="{% url 'babel:read' chapter.manga_id i %}">Chapitre {{ forloop.counter }}</option>
                {% else %}
                    <option  value="{% url 'babel:read' chapter.manga_id i %}">Chapitre {{ forloop.counter }}</option>
                {% endif %}
            {% endfor %}
            
        </select>
    </div>

    <div class="flex flex-row justify-center py-2">
        <a class="md:block md:fixed md:top-1/2 md:left-5 bg-gray-900 bg-opacity-90 rounded text-gray-300 mr-2" href="{{ chapter.prev }}">
            <div class="flex flex-row-reverse px-5 py-2">
                <span class="pl-2">Precedent</span>
                <svg enable-background="new 0 0 15 26" height="26px" id="Layer_1" version="1.1" viewBox="0 0 15 26" width="15px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon fill="#FFF"
                        points="12.885,0.58 14.969,2.664 4.133,13.5 14.969,24.336 12.885,26.42 2.049,15.584 -0.035,13.5 " />
                </svg>
            </div>
        </a>

        <a class="md:block md:fixed md:top-1/2 md:right-5 bg-gray-900 bg-opacity-90 rounded text-gray-300" href="{{ chapter.next }}">
            <div class="flex flex-row px-5 py-2">
                <span class="pr-2">Suivant</span>
                <svg class="transform rotate-180" enable-background="new 0 0 15 26" height="26px" id="Layer_1" version="1.1" viewBox="0 0 15 26" width="15px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon fill="#FFF"
                        points="12.885,0.58 14.969,2.664 4.133,13.5 14.969,24.336 12.885,26.42 2.049,15.584 -0.035,13.5 " />
                </svg>
            </div>
        </a>
    </div>
    <div id="back-to-top" class="fixed bottom-4 right-10 w-10 h-10 bg-gray-900 bg-opacity-70 rounded-full flex justify-center pt-1 cursor-pointer">
        <svg class="transform rotate-90" enable-background="new 0 0 15 26" height="26px" id="Layer_1" version="1.1" viewBox="0 0 15 26" width="15px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon fill="#FFF"
                points="12.885,0.58 14.969,2.664 4.133,13.5 14.969,24.336 12.885,26.42 2.049,15.584 -0.035,13.5 " />
        </svg>
    </div>

    <div class="flex flex-col">
            {% for url in chapter.pages %}
            <div class="flex justify-center"><img src="{{ url }}" alt=""></div>
            {% endfor %}
    </div>



    <!-- <div class="lel_slctchap">
        <select autocomplete="off" id="selectPg">
            <option selected value="0">Page 1/22</option>
            <option value="1">Page 2/22</option>
            <option value="2">Page 3/22</option>
            <option value="3">Page 4/22</option>
            <option value="4">Page 5/22</option>
            <option value="5">Page 6/22</option>
            <option value="6">Page 7/22</option>
            <option value="7">Page 8/22</option>
            <option value="8">Page 9/22</option>
            <option value="9">Page 10/22</option>
            <option value="10">Page 11/22</option>
            <option value="11">Page 12/22</option>
            <option value="12">Page 13/22</option>
            <option value="13">Page 14/22</option>
            <option value="14">Page 15/22</option>
            <option value="15">Page 16/22</option>
            <option value="16">Page 17/22</option>
            <option value="17">Page 18/22</option>
            <option value="18">Page 19/22</option>
            <option value="19">Page 20/22</option>
            <option value="20">Page 21/22</option>
            <option value="21">Page 22/22</option>
        </select>
    </div> -->
</div>
{% endblock %}
