<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fujiBabel/css/detail.css' %}">
</head>
<body>
    <div id="content">
        <div id="header">
            <div id="image"><img src="{{ mangas.imagepatch }}" alt=""></div>
            <div id="info-text">
                <div id="info">
                    <div id="name">{{ mangas.name }}</div>
                    <div id="team">{{ mangas.team }}</div>
                </div>
                <div id="synopsis">{{ mangas.description }}</div>
            </div>
        </div>
        <div id="chapters">
            {% for chapter in mangas.scans %}
                <div class="chapter">
                    <div class="title">
                            <a href="{{ chapter.url }}">
                                <span class="number">Chapitre {{ chapter.chapter }}</span>
                                <!-- <span class="name">{{ chapter.Chapter_message }}</span> -->
                            </a>
                        </div>
                        <div class="date">{{ chapter.updated_at }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>