<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fujiBabel/css/index.css' %}">
</head>
<body>
    <div id="projects">
    {% for mangas in bibliotheque %}
        <div class="card project">
            <div class="title">{{ mangas.name }}</div>
            <div class="image"><img src="{{ mangas.imagepatch }}" alt="{{ mangas.name }}"></div>
            <div class="button"><a href="{{ mangas.url }}">Lire</a></div>
        </div>
    {% endfor %}
    </div>
</body>
</html>