#projects {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: x-large;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(28, 30, 31);
    min-width: 300px;
    border: 0px inset black;
    border-radius: 1%;
    overflow: hidden;
    margin: 0.5em;
}

.card a {
    flex: 1;
    text-decoration: unset;
    color: unset;
}

.card .title {
    max-height: 30px;
    padding: 2% 0;
    flex: 1;
    text-align: center;
    background-color: rgb(20, 72, 53);
}

.card .image {
    flex: 7;
}

.card .image img {
    width: 100%;
    height: auto;
}

.card .button {
    text-align: center;
    margin: auto;
    padding: 0.5em 1em;
    background-color: rgb(20, 72, 53);
    border-radius: 5%;
    margin: 2% auto;
}